* {
  box-sizing: border-box;
}

body {
  font-family: Stratos Deliveroo Web, sans-serif;
  background-color: #f3f5f5;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 8px;
}

/* --------------------------HEADER--------------------------
------------------------------------------------------------
------------------------------------------------------------- */

header {
  padding: 24px;
  background-color: white;
}

.top-nav {
  border-bottom: 1px solid #e9ebeb;
  height: 60px;
}

.top-nav-center {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  width: 96vw;
}

.logo {
  height: 70%;
}

.restaurant-infos-center {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 96vw;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 0;
}

.restaurant-infos-text {
  flex: 1 1;
  margin-right: 30px;
}

h1 {
  font-size: 2rem;
  padding-top: 2rem;
  margin-top: 0.6rem;
  font-weight: 700;
  color: #2e3333;
  margin-bottom: 32px;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.2rem;
  color: #868a8a;
  line-height: 1.5;
}

.hero img {
  background: #f3f5f5;
  border-radius: 5px;
  overflow: hidden;
  width: 350px;
}

/* --------------------------MAIN--------------------------
------------------------------------------------------------
------------------------------------------------------------- */

h2 {
  font-weight: bolder;
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

.main-container {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  width: 96vw;
}

.col-left {
  flex: 1 1;
  margin-right: 30px;
}

.menus {
  margin-top: 48px;
}

.menus > h2 {
  margin-bottom: 32px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
  min-width: 300px;
  /* padding-right: 10px; */
  padding-bottom: 25px;
  /* width: 50%; */
}

.meal-card {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 16px;
  width: 380px;
  height: 160px;
  border-radius: 8px;
}

.meal-card:hover {
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.meal-card img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 2px;
  margin-left: 8px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.meal-card p:not(:last-child) {
  color: #808484;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}

h4 {
  margin-bottom: 8px;
  line-height: 22px;
  font-size: 18px;
}

.price-infos {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}

.hidden {
  display: none;
}

.populaire {
  font-weight: bolder;
  font-size: 14px;
  color: orange;
}

.price {
  color: #808484;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin-right: 8px;
}

/* ---------------------- Cart-----------------------------------
------------------------------------------------------------ */

.col-right {
  width: 350px;
}

.cart {
  background-color: white;
  padding: 16px;
  margin-top: 48px;
  position: sticky;
  top: 30px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.cart-details {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-details {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #868a8a;
}

.counter {
  display: flex;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.delivery-cost {
  display: flex;
  justify-content: space-between;
}

.cart-total {
  display: flex;
  justify-content: space-between;
}

.cta-validation {
  width: 100%;
  font-size: 16px;
  padding: 16px;
  border: none;
  background-color: #bac3c3;
  color: #8b9a9b;
  font-weight: 700;
  border-radius: 4px;
}
